<mat-sidenav-container class="sidenav-container" autosize (click)="hideChange1(); hideChange2(); hideChange3()">
    <mat-sidenav #drawer class="sidenav" [style.width]="(isHandset$ | async) ? '220px' : drawerOpen ? '220px' : '60px'"
        [style.boxShadow]="(isHandset$ | async) ? 'none' : drawerOpen ? 'none' : '0.2rem 0 1rem rgba(0,0,0,0.5)' "
        [ngClass]="(isHandset$ | async) ? 'showSection' : drawerOpen ? 'showSection' : 'hideSection' "
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <!-- [style.borderRadius] = "(isHandset$ | async) ? '0px' : drawerOpen ? '0px' : '0px 25px 25px 0px' " -->
        <mat-toolbar [style.padding-left]="drawerOpen ? '5px' : '5px' ">
            <div class="app_title" *ngIf="(isHandset$ | async) ? true : drawerOpen">
                <img src="../../../assets/img/convz logo.png" class="logo"/> 
        
                
              </div>
        
              <div *ngIf='!(isHandset$ | async)'>
                <button 
                class="fab_alt"
                [style.left]="!drawerOpen ? '38px' : '205px'"
                 mat-fab 
                 style="background: white;"
                (click)="drawerOpen = !drawerOpen"
                >
                <mat-icon *ngIf='drawerOpen' style="color: #2a4770;">menu_open</mat-icon>
                <mat-icon *ngIf='!drawerOpen' style="color: #2a4770;">keyboard_arrow_right</mat-icon>
        
              </button>
        
              </div>
            <!-- <div class="flex-btw" *ngIf='!(isHandset$ | async)' style="justify-content: center;">
                <img [ngClass]="(isHandset$ | async) ? 'showLogo' : drawerOpen ? 'showLogo' : 'hideLogo' "
                    src="../../../assets/img/convz logo.png" class="logo"/>
                <button class="fab_alt" mat-fab color='primary' (click)="drawerOpen = !drawerOpen"
                    matTooltip="Pin Side Navigation">
                    <mat-icon *ngIf='drawerOpen' style="color: #fff;">menu_open</mat-icon>
                    <mat-icon *ngIf='!drawerOpen' style="color: #fff;">menu</mat-icon>
                </button>
                <button mat-icon-button (click)="drawerOpen = !drawerOpen">
                    <mat-icon *ngIf='drawerOpen' style="color: #fff;">menu_open</mat-icon>
                    <mat-icon *ngIf='!drawerOpen' style="color: #fff;">menu</mat-icon>
                </button>
            </div> -->
        </mat-toolbar>

        <mat-nav-list class="list">
            <div style="margin-top: 10px;">
                <p class="nav-heading">Select Business Type</p>
                <div style="margin-top: 20px;">
                    <mat-accordion *ngIf="status === 'admin' ">
                        <mat-expansion-panel (opened)="firstPanelOpen = true" (closed)="firstPanelOpen = false"
                            class="accordion ">
                            <mat-expansion-panel-header class="panel" routerLinkActive="active-list-item"
                                [ngClass]="{'icon-hide': !drawerOpen }"
                                (mouseover)="isChange1(); hideChange2(); hideChange3()">
                                <mat-panel-title>
                                    <div (click)="getSubs('marketing')" routerLink="/app/e-commerce-dashboard"
                                        style="display: flex; align-items: center;">
                                        <mat-icon class="icon">inventory</mat-icon>
                                        <span class="menu-name" *ngIf="(isHandset$ | async) ? true : drawerOpen">E-commerce</span>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div routerLink="/app/e-commerce-dashboard/kpi-cards" (click)="getSubs('marketing')" class="sub-menu"
                                routerLinkActive="sub-active-list"
                                *ngIf="(isHandset$ | async) ? true : drawerOpen">Marketing Model</div>
                            <div routerLink="/app/e-commerce-dashboard/trends" (click)="getSubs('trends')" class="sub-menu"
                                routerLinkActive="sub-active-list"
                                *ngIf="(isHandset$ | async) ? true : drawerOpen">Trends</div>
                            <div routerLink="/app/e-commerce-dashboard/country-share" (click)="getSubs('country')" class="sub-menu"
                                routerLinkActive="sub-active-list"
                                *ngIf="(isHandset$ | async) ? true : drawerOpen">Country/Ops Shares</div>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                            class="accordion">
                            <mat-expansion-panel-header class="panel show2" routerLinkActive="active-list-item"
                                 [ngClass]="{'icon-hide': !drawerOpen}"
                                 (mouseover)="isChange2(); hideChange1(); hideChange3()">
                                <mat-panel-title>
                                    <div (click)="getSubs('coupon-summary')" routerLink="/app/sass-dashboard" style="display: flex; align-items: center;">
                                        <mat-icon class="icon">shopping_bag</mat-icon>
                                        <span class="menu-name" *ngIf="(isHandset$ | async) ? true : drawerOpen">Sass</span>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div routerLink="/app/sass-dashboard/coupon-summary" class="sub-menu"
                                routerLinkActive="sub-active-list" (click)="getSubs('coupon-summary')"
                                *ngIf="(isHandset$ | async) ? true : drawerOpen">Coupon Summary</div>
                            <div routerLink="/app/sass-dashboard/coupon-details" class="sub-menu"
                                routerLinkActive="sub-active-list" (click)="getSubs('coupon-details')"
                                *ngIf="(isHandset$ | async) ? true : drawerOpen">Coupon Details</div>


                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                            class="accordion">
                            <mat-expansion-panel-header class="panel show3" routerLinkActive="active-list-item" 
                                [ngClass]="{'icon-hide': !drawerOpen}"
                                (mouseover)="isChange3(); hideChange1(); hideChange2()">
                                <mat-panel-title>
                                    <div (click)="getSubs('channel-summary')" routerLink="/app/retail-dashboard" style="display: flex; align-items: center;">
                                        <mat-icon class="icon">business</mat-icon>
                                        <span class="menu-name" *ngIf="(isHandset$ | async) ? true : drawerOpen">Retail</span>
                                    </div>
                                    
                                </mat-panel-title>
                                
                            </mat-expansion-panel-header>
                            
                            <div routerLink="/app/retail-dashboard/channel-summary" class="sub-menu"
                                routerLinkActive="sub-active-list" (click)="getSubs('channel-summary')"
                                *ngIf="(isHandset$ | async) ? true : drawerOpen">Channel Summary</div>
                            <div routerLink="/app/retail-dashboard/channel-details" class="sub-menu"
                                routerLinkActive="sub-active-list" (click)="getSubs('channel-details')"
                                *ngIf="(isHandset$ | async) ? true : drawerOpen">Channel Details</div>

                        </mat-expansion-panel>
                    </mat-accordion>

                    <!-- <p class="profile-setting">Settings</p>
                    <div routerLink="/app/e-commerce-dashboard" class="profile" 
                        (mouseover)="hideChange1(); hideChange2(); hideChange3()">
                        <mat-icon class="icon">account_circle</mat-icon>
                            <span class="menu-name" *ngIf="(isHandset$ | async) ? true : drawerOpen">Profile</span>
                    </div> -->

                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.margin-left]="(isHandset$ | async) ? '0px' : drawerOpen  ? '220px' : '60px'"
        style="transition: all .3s;">
        <mat-toolbar color="primary">
            <div class="toolbar_content">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                    <mat-icon color='primary' aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <div class="bread-wrap">
                    <app-breadcrumb></app-breadcrumb>
                    <mat-icon color='primary' class="arrow">arrow_forward</mat-icon>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="selected">
                          <mat-option *ngFor="let item of list" [value]="item.value" (click)="getLink(item.link)">
                            <span style="color: black;" >{{item.name}}</span>
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <!-- <div class="wrap-caro"> 
                    <carousel>
                        <div class="carousel-cell" *ngFor="let item of list">
                            <span class="toolbar-list">{{item.name}}</span>
                        </div>
                    </carousel>
                </div> -->
                <div class="toolbar_actions">
                    <button mat-button [matMenuTriggerFor]="menu" class='user_profile' type="button" color="">
                        <!-- <img src="../../../assets/img/convz logo.png" alt="" class="user_avatar"> -->
                        <span class="username">
                            {{name}}
                        </span>
                        <mat-icon style="margin-left: 20px; color: white;" aria-label="Profile">keyboard_arrow_down
                        </mat-icon>
                    </button>
                </div>
                <mat-menu #menu="matMenu" class="menu" style="padding: 20px;">
                    <!-- <button mat-menu-item class="menuButton">
                        <mat-icon color='primary' class="menuIcon">account_circle</mat-icon>
                        Profile
                    </button> -->
                    <div style="font-size: 20px;">Welcome,</div>
                    <div style="font-size: 20px; font-weight: bold; margin-top: 10px; color: #2a4770;">{{name}}</div>
                    <div style="font-size: 14px;margin-top: 5px;">{{username}}</div>
                    <div style="display: flex; align-items: center;">
                        <img src="../../../assets/img/4970774-removebg-preview (1).png" class="profile-img">
                        <div style="margin-left: 10px;">Convz Client Demo Application</div>
                    </div>
                   
                    <button mat-menu-item class="menuButton" (click)="logout()">
                        <mat-icon color='primary' class="menuIcon">logout</mat-icon>
                        Logout
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <div id="side-menu2" *ngIf="(isHandset$ | async) ? false : !drawerOpen">
            <div class="side-menu-list" routerLink="/app/sass-dashboard/coupon-summary"
            routerLinkActive="side-menu-active"> Coupon Summary</div>
            <div class="side-menu-list" routerLink="/app/sass-dashboard/coupon-details"
            routerLinkActive="side-menu-active"> Coupon Details</div>
        </div>
        <div id="side-menu3" *ngIf="(isHandset$ | async) ? false : !drawerOpen">
            <div class="side-menu-list" routerLink="/app/e-commerce-dashboard/kpi-cards"
            routerLinkActive="side-menu-active">Marketing Model</div>
            <div class="side-menu-list" routerLink="/app/e-commerce-dashboard/trends"
            routerLinkActive="side-menu-active">Trends</div>
            <div class="side-menu-list" routerLink="/app/e-commerce-dashboard/country-share"
            routerLinkActive="side-menu-active">Country/Ops Shares</div>
        </div>
        <div id="side-menu" *ngIf="(isHandset$ | async) ? false : !drawerOpen">
            <div class="side-menu-list" routerLink="/app/retail-dashboard/channel-summary"
            routerLinkActive="side-menu-active">Channel Summary</div>
            <div class="side-menu-list" routerLink="/app/retail-dashboard/channel-details"
            routerLinkActive="side-menu-active">Channel Details</div>
        </div>
        <router-outlet></router-outlet> 
    </mat-sidenav-content>
</mat-sidenav-container> 