.root-wrapper{
    width: 100%;
    padding: 0 50px;
    background: #2a4770;
}
.root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 150px;
    color: white;

}
.content-wrapper{
    width: 55%;
    // line-height: 1.3;
}
.btn-animate{
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
    &:hover{
        transition: .5 ease;
        transform: scale(1.04);
    }
   
}
.btn{
    background: white; 
    color: #F06054; 
    font-size: 15px; 
    font-weight: bold;
}
.logo{
    width: 100%;
    margin-left: -15px;
    margin-top: -10px;
}
.ms-logo{
    width: 10%;
    margin-left: 16px;
}
.image{
    width: 115%;
}
.image-wrapper{
    text-align: end;
    margin-left: 80px
}
.demo-text{
    margin: 15px 0;
    margin-left: 10px;
    font-size: 19px;
}
.service-text{
    margin: 15px 0; 
    margin-left: 10px;
    font-size: 19.5px;
}
.smarter-text{
    margin: 20px 0;
    font-size: 28px;
    margin-left: 10px;
    font-weight: bold;
}
.demo-env{
    text-align: end; 
    color: white; 
    margin-top: -14px; 
    font-size: 27px;
}
.welcome{
    font-size: 27px; 
    margin-left: 10px; 
    position: relative;
}