.root-wrapper{
    width: 100%;
    padding: 0 50px;
    background: #2a4770;
}
.root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 214px;
    color: white;

}
.content-wrapper{
    width: 40%;
    line-height: 1.3;
}
.logo{
    width: 100%;
    margin-left: -15px;
}
.image{
    width: 80%;
}
.image-wrapper{
    text-align: end;
}