<div class="root-wrapper">
    <div class="root">
        <div class="content-wrapper">
            <div>
                <div class="welcome">Welcome to</div>
                <img src="assets/img/convz logo.png" class="logo"/>
                <div class="demo-env">Demo Environment</div>
            </div>
            
            <div class="smarter-text">
                Make smarter decisions with precision insights
            </div>
            <div class="service-text">
                Convz Business Intelligence as a service
            </div>
            <div class="demo-text">
                The following demo will showcase our in-depth and strong analytics capabilities which you 
                can manipulate according to your needs
            </div>
            <div class="btn-animate">
                <button mat-raised-button class="btn"
                (click)="login()">SIGN IN WITH <img src="../../../assets/img/MS_LOGO.png" class="ms-logo"/></button>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="assets/img/Asset 2 1.png" class="image"/>
        </div>
    </div>
    
</div>