<div class="root-wrapper">
    <div class="root">
        <div class="content-wrapper">
            <div>
                <div style="font-size: 20px;">Welcome to</div>
                <img src="assets/img/convz logo.png" class="logo"/>
                <div style="text-align: end; color: #ff6b00;">Demo Environment</div>
            </div>
            
            <div style="font-size: 20px; margin-top: 10px;">
                Make smarter decisions with precision insights
            </div>
            <div style="margin-top: 10px;">
                Convz Business Intelligence as a service
            </div>
            <div style="margin-top: 10px;">
                The following demo will showcase our in-depth and strong analytics capabilities which you 
                can manipulate according to your needs
            </div>
            <div style="margin-top: 10px;" class="btn-animate">
                <button mat-raised-button style="background: white; color: #FF6B00; font-size: 12px; font-weight: bold;" 
                (click)="openApp()">SIGN IN WITH <img src="../../../assets/img/MS_LOGO.png" class="ms-logo"/></button>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="assets/img/Asset 2 1.png" class="image"/>
        </div>
    </div>
    
</div>