
.root{
    width: 100%;
}

::ng-deep iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    height: 98vh !important; 
}

::ng-deep .EmbedError[_ngcontent-gef-c178] .NoLicenseErrorImg[_ngcontent-gef-c178], .EmbedError[_ngcontent-gef-c178] .GeneralErrorImg[_ngcontent-gef-c178] {
    display: block;
    margin: 0% auto 50px;
}
